@{
    ViewBag.Title = "Турагенство";
}

<div class="jumbotron">
    <h3>Турагенство</h3>
    <p class="lead">Добро пожалвать в наше туристическое агентство! Наша компания гаранитрует вам хороший отдых по привлекательной цене! Мы предлагаем множество туров в различные страны с учетом размера группы.</p>
</div>
<p class="alert alert-info" style="width: 80%; text-align: center; margin-left: 10%;">
    Почему именно мы?
</p>

<div class="row">
    <div class="col-md-4">
        <h2>Не беспокойтесь о деталях</h2>
        <p>
            Мы предлагаем обширный список услуг по привлекательным ценам. Вы можете выбрать тариф "все включено", а наша компания позаботится о том, чтобы ваш отдых прошел на высоте!
        </p>
        <p><a class="btn btn-default" href="#">Узнать больше</a></p>
    </div>
    <div class="col-md-4">
        <h2>Не ограничивайте себя</h2>
        <p>
            В качестве места для отдыха наша компания предоставляет множество стран, которые расположены в разных частях мира! Выбирайте на любой вкус, куда поехать: в Египет или Антарктиду!
        <p><a class="btn btn-default" href="#">Узнать больше</a></p>
    </div>
    <div class="col-md-4">
        <h2>Мы всегда открыты для диалога</h2>
        <p>
            Если у вас врзникла проблема с выбором места для отдыха, или же возникла другая проблема - нем стесняйтесь - свяжитесь с поддержкой! Наши специалисты гготовы прийти на помощь к вам ежедневно с <i>8.00</i> до <i>23.00</i>
        </p>
        <p>@Html.ActionLink("Связаться поддержкой", "Contact", null, new { @class = "btn btn-success" })</p>
    </div>
</div>